@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat';
  font-feature-settings: "kern";
}

.striped-text {
  background: repeating-linear-gradient(
    50deg,
    #644EDE 0,
    #644EDE 2px,
    transparent 2px,
    transparent 4px
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}